<section data-ng-controller="TabsController" data-ng-init="findOne()">
	<form class="form-horizontal" data-ng-submit="update()">
		<div class="control-group">
			<label class="control-label" for="artist">Artist</label>
			<div class="controls">
				<input type="text" data-ng-model="tab.artist" id="artist" placeholder="Artist" required>
				</input>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="name">Song name</label>
			<div class="controls">
				<input type="text" data-ng-model="tab.name" id="name" placeholder="Song name" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="content">Tab</label>
			<div class="controls">
				<textarea data-ng-model="tab.content" id="content" cols="30" rows="10" placeholder="Tab">
				</textarea>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>